# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Large / binary files
*.dll
*.pyd

# Model files (optional – keep if small)
# *.keras
# *.h5
# *.pkl
